<% layout('layouts/boilerplate')%>
<main>
    <div class="main-content">
        <h1>woodfire</h1>
        <p>目前做的小東西</p>
        <a href="/ndhucourse" class="btn success">將NDHU課表轉換至Google日曆</a>
    </div>
</main>

