<% layout('layouts/boilerplate')%>
<main>
	<div class="white-bg"></div>
	<div class="main-content">
		<div class="show-course">
			<h1>//您的課表//</h1>
			<h2>請檢查資料是否正確</h2>
			<% result.forEach(function(dat) { %>
				<h3><%= dat.course%></h3>
				<ul>
					<li>時間<%= dat.time%></li>
					<li>地點/<%= dat.location%></li>
					<li>老師<%= dat.teacher%></li>
				</ul>
				<% }); %>
			</div>
			<a href="/ndhucourse" class="btn success">Go Home</a>
			<a href="/ndhucourse/google" class="btn info">上傳至Google Calendar</a>
	</div>
</main>
