<% layout('layouts/boilerplate')%>
<main>
    <div class="white-bg"></div>
    <div class="main-content">
        <h1>請前往您的Google Calendar查看</h1>
        <a href="https://calendar.google.com" class="btn info">Google Calendar</a>
        <a href="/ndhucourse" class="btn success">回首頁</a>
    </div>
</main>

